html {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.about__head,
.team__head,
.clients__head {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .about__head,
.team__head,
.clients__head {
    font-size: 36px;
    line-height: 1.17;
  }
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --white-text-color: #ffffff;
  --blue-color: #2196f3;
  --blue-hover-color: #188ce8;
  --background-back-color: #2f303a;
  --logo-part2-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --button-bg-color: #f5f4fa;
  --team-bg-color: #f5f4fa;
  --main-bg-color: #f5f5f5;
  --border-heder-line: #ececec;
  --border-card-line: #eeeeee;
  --icon-main-color: #afb1b8;
  --hero-bg-color: #c4c4c4;
  --hero-bg-overlay: rgba(47, 48, 58, 0.4);
  --bgcolor-wedo: rgba(47, 48, 58, 0.8);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --bgcolor-exampl-overlay: rgba(33, 150, 243, 0.9);
}

body {
  font-family: "roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  background-color: var(--white-text-color);
  border-bottom: 1px solid var(--border-heder-line);
  position: relative;
}

.header__container,
.navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  padding: 16px 0px;
}
@media screen and (min-width: 768px) {
  .navigation__logo {
    margin-right: 88px;
    padding: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .navigation__logo {
    margin-right: 93px;
  }
}

.navigation__logo-part1,
.navigation__logo-part2,
.navigation__logo-part3 {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.navigation__logo-part1 {
  color: var(--blue-color);
}

.navigation__logo-part2 {
  color: var(--logo-part2-color);
}

.site-nav__link {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-nav__link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    transition: color 250ms var(--timing-function);
  }
  .site-nav__link:hover, .site-nav__link:focus, .site-nav__link:active {
    color: var(--blue-color);
  }
}

.site-nav {
  display: flex;
}
.site-nav .current {
  color: var(--blue-color);
}
.site-nav .current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--blue-color);
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.site-adress {
  display: none;
}
@media screen and (min-width: 768px) {
  .site-adress {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    color: var(--primary-text-color);
  }
}
@media screen and (min-width: 1200px) {
  .site-adress {
    flex-direction: row;
    align-items: center;
  }
}

.site-adress__item {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .site-adress__item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-adress__item .mail {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .site-adress__item:not(:last-child) {
    margin-right: 50px;
  }
  .site-adress__item:focus, .site-adress__item:hover, .site-adress__item:active {
    color: var(--blue-color);
    cursor: pointer;
  }
}

.site-adress__icon {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  fill: currentColor;
  transition: color 250ms var(--timing-function);
}

.site-adress__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition: color 250ms var(--timing-function);
}
@media screen and (min-width: 1200px) {
  .site-adress__item:focus .site-adress__link, .site-adress__item:hover .site-adress__link, .site-adress__item:active .site-adress__link {
    color: var(--blue-color);
    cursor: pointer;
  }
}

.mobile-menu__button-open {
  position: absolute;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
}
@media screen and (min-width: 768px) {
  .mobile-menu__button-open {
    display: none;
  }
}

.hero {
  background-color: var(--hero-bg-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 118px 0px;
  margin: auto;
  text-align: center;
  max-width: 480px;
  background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-mob.jpg);
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-mob-x2.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    max-width: 480px;
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-mob.jpg);
  }
}
@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-mob-x2.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-tablet.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-tablet-x2.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding: 200px 0px;
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg-overlay), var(--hero-bg-overlay)), url(../images/hero-bg-x2.jpg);
  }
}

.hero__title {
  padding: 0px 45px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding: 0px 189px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    padding: 0px 252px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  padding: 10px 24px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function);
}
.hero__button:hover, .hero__button:focus {
  background-color: var(--blue-hover-color);
  cursor: pointer;
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 10px 32px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-bottom: 0;
  }
}

.benefits__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .benefits__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    max-width: 1200px;
  }
}

@media screen and (min-width: 480px) {
  .benefits__item {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    max-width: 270px;
  }
}

.benefits__blok {
  background-color: var(--button-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  text-align: center;
}
@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about {
  display: none;
}
@media screen and (min-width: 1200px) {
  .about {
    display: flex;
  }
}

.about__list {
  display: flex;
  gap: 30px;
}

.about__card {
  position: relative;
}

.about__title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 370px;
  height: 70px;
  left: 0;
  bottom: 0;
  background-color: var(--bgcolor-wedo);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  margin: 0;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.team {
  background-color: var(--team-bg-color);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .team__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    max-width: 1200px;
  }
}

.team__card {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .team__card {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    max-width: 270px;
  }
}

.team__name {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team__job {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.social {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--icon-main-color);
  transition: background-color 250ms var(--timing-function), fill 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus, .social__link:active {
  background-color: var(--blue-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon,
.social__link:active .social__icon {
  fill: var(--white-text-color);
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .clients__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .clients__list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__list {
    max-width: 1200px;
  }
}

.client__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 210px;
  fill: var(--icon-main-color);
  border: 1px solid var(--icon-main-color);
  border-radius: 4px;
  transition: fill 250ms var(--timing-function), border-color 250ms var(--timing-function);
}
.client__link:hover, .client__link:focus {
  fill: var(--blue-color);
  border-color: var(--blue-color);
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .client__link {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    width: 170px;
  }
}

.examples__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: flex-start;
  gap: 8px;
  margin-bottom: 50px;
  border: none;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .examples__buttons {
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .examples__buttons {
    justify-content: center;
  }
}

.examples__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--button-bg-color);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  padding: 6px 22px;
}
.examples__button:hover, .examples__button:focus, .examples__button:active {
  color: var(--white-text-color);
  background-color: var(--blue-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.examples__button-blue {
  color: var(--white-text-color);
  background-color: var(--blue-color);
}

.examples__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (min-width: 480px) {
  .examples__list {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .examples__list {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__list {
    max-width: 1200px;
  }
}

.examples__element {
  border-left: 1px solid var(--border-card-line);
  border-right: 1px solid var(--border-card-line);
  border-bottom: 1px solid var(--border-card-line);
}
.examples__element:hover, .examples__element:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media screen and (min-width: 480px) {
  .examples__element {
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .examples__element {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .examples__element {
    max-width: 370px;
  }
}

.examples__link {
  display: block;
  text-decoration: none;
}

.examples__card {
  padding: 20px 24px;
}

.examples__overflow {
  position: relative;
  overflow: hidden;
}

.examples__overlay {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  background-color: var(--bgcolor-exampl-overlay);
  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms var(--timing-function), opacity 250ms var(--timing-function);
  overflow: auto;
}
.examples__link:hover .examples__overlay, .examples__link:focus .examples__overlay {
  transform: translateY(0%);
  opacity: 1;
}

.examples__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.examples__type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.footer {
  background-color: var(--background-back-color);
  padding: 60px 0px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .footer {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .footer__tablet {
    display: flex;
    align-items: baseline;
    gap: 165px;
    margin-bottom: 60px;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__tablet {
    gap: 0px;
    margin-bottom: 0px;
  }
}

.footer__blocks {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__blocks {
    align-items: baseline;
  }
}
@media screen and (min-width: 1200px) {
  .footer__blocks {
    flex-direction: row;
  }
}

@media screen and (min-width: 1200px) {
  .footer__nav {
    margin-right: 70px;
  }
}

.footer__nav-list:not(:last-child) {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer__nav-list:not(:last-child) {
    margin-bottom: 9px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__join {
    margin-left: auto;
  }
}

.navigation__logo-footer {
  margin-bottom: 20px;
}

.navigation__logo-part3 {
  color: var(--white-text-color);
}

.city__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
  transition: color 250ms var(--timing-function);
}
.city__adress:hover, .city__adress:focus, .city__adress:active {
  color: var(--blue-color);
}

.footer__contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  transition: color 250ms var(--timing-function);
}
.footer__contacts:hover, .footer__contacts:focus, .footer__contacts:active {
  color: var(--blue-color);
}

.footer__button {
  width: 200px;
  height: 50px;
  margin-top: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0;
  outline: none;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-top: 0px;
  }
}

.footer__email {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer__email {
    flex-direction: row;
  }
}
.footer__email-input {
  width: 290px;
  height: 50px;
  margin: 0px;
  padding: 0;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--background-back-color);
  color: var(--white-text-color);
}
@media screen and (min-width: 480px) {
  .footer__email-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__email-input {
    width: 358px;
    margin-right: 12px;
  }
}
.footer__email input {
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: var(--white-text-color);
}
.footer__email input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 21.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button-icon {
  display: flex;
  position: relative;
  margin: 10px 28px;
  width: 144px;
  height: 30px;
  border: none;
  align-items: center;
}

.footer__icon {
  position: absolute;
  top: o;
  right: 0;
  fill: var(--white-text-color);
}

.footer__list {
  display: flex;
  gap: 10px;
}

.footer__title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer__social {
  margin: 60px 0px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer__social {
    margin: 0;
  }
}

.footer__social-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}

.footer__social-link {
  fill: var(--white-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms var(--timing-function);
}
.footer__social-link:hover, .footer__social-link:focus, .footer__social-link:active {
  background-color: var(--blue-color);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  min-width: 350px;
  padding: 40px;
  background-color: var(--white-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 500ms var(--timing-function);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal__close {
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-text-color);
}

.modal__close-icon {
  fill: var(--logo-part2-color);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.modal__title {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.modal__form {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .modal__form {
    width: 448px;
  }
}

.modal__field {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  outline: none;
  margin-bottom: 10px;
}
.modal__field input {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  outline-style: none;
}
.modal__field label {
  margin-bottom: 4px;
}
.modal__field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 120px;
  padding: 12px 16px;
  outline: none;
  resize: none;
}
.modal__field:hover input, .modal__field:hover .modal__icon {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}
.modal__field:hover textarea, .modal__field textarea:focus {
  border-color: var(--blue-color);
}

.modal__icon-position {
  position: relative;
  display: flex;
  flex-direction: column;
}
.modal__icon-position input:focus, .modal__icon-position input:focus + .modal__icon {
  border-color: var(--blue-color);
  fill: var(--blue-color);
}

.modal__icon {
  position: absolute;
  left: 21px;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: var(--title-text-color);
}

.modal__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--blue-color);
}

.modal__text {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.modal__text input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
@media screen and (min-width: 1200px) {
  .modal__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal__agree-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 7px;
  width: 16px;
  height: 15px;
  fill: var(--white-text-color);
  border-radius: 2px;
  border: solid 2px var(--background-back-color);
}
.modal__checkbox:checked + .modal__agree-icon {
  background-size: contain;
  background-origin: border-box;
  background-color: var(--blue-color);
  border-color: var(--blue-color);
  fill: var(--white-text-color);
  border-radius: 2px;
}

.modal__button {
  text-align: center;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background: var(--blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 0;
  outline: none;
}
.modal__button:hover {
  background-color: var(--blue-hover-color);
}

.modal__button-center {
  display: flex;
  justify-content: center;
}

.mobile-menu {
  position: fixed;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  padding: 48px 0px 48px 40px;
  background: var(--white-text-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(200%);
  transition: 250ms var(--timing-function);
  z-index: 1000;
}
@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  transform: translateX(0%);
}

.mobile-menu__button {
  position: absolute;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border: none;
}
.mobile-menu__button :hover, .mobile-menu__button :focus, .mobile-menu__button :active {
  fill: var(--blue-color);
}
@media screen and (min-width: 768px) {
  .mobile-menu__button {
    display: none;
  }
}

.mobile-list__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.mobile-list__text {
  margin-bottom: 32px;
}
.mobile-list__text :hover, .mobile-list__text :focus, .mobile-list__text :active {
  color: var(--blue-color);
}

.mobile-list__phone-link {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}

.mobile-list__phone {
  margin-bottom: 32px;
}

.mobile-list__mail-link {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.mobile-list__mail {
  margin-bottom: 64px;
}
.mobile-list__mail :hover, .mobile-list__mail :focus, .mobile-list__mail :active {
  color: var(--blue-color);
}

.mobile-list__social {
  display: flex;
}

.mobile-list__social-text {
  margin-right: 10px;
}

.mobile-list__border {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-left: 10px;
}

.mobile-list__social-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--blue-color);
}
@media screen and (min-width: 480px) {
  .mobile-list__social-link {
    font-size: 18px;
  }
}/*# sourceMappingURL=main.css.map */