@import './base/_common.scss';
@import './utils/_variables.scss';
@import './components/_header.scss';
@import './components/_hero.scss';
@import './components/_benefits.scss';
@import './components/_about.scss';
@import './components/_team.scss';
@import './components/_clients.scss';
@import './components/_examples-buttons.scss';
@import './components/_examples.scss';
@import './components/_footer.scss';
@import './components/_modal.scss';