.benefits {
	padding-bottom: 0;
}

.benefits__list {
	display: flex;

	& .list:not(:last-child) {
		margin-right: 30px;
	}
}

.benefits__blok {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--button-bg-color);
	width: 270px;
	height: 120px;
	border-radius: 4px;
	margin-bottom: 30px;
}

.benefits__title {
	margin-bottom: 10px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--title-text-color);
}

.benefits__text {
	width: 270px;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--primary-text-color);
}
