.examples__buttons {
	width: 575px;
	display: flex;
	margin: auto;
	margin-bottom: 50px;
	justify-content: center;
	border: none;
	border-radius: 4px;
}

.examples__button {
	font-family: inherit;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--title-text-color);
	background-color: var(--button-bg-color);
	border-radius: 4px;
	border: none;
	transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
		box-shadow 250ms var(--timing-function);
	padding: 6px 22px;

	&:hover,
	&:focus,
	&:active {
		color: var(--white-text-color);
		background-color: var(--blue-color);
		cursor: pointer;
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
	}
	&-blue {
		color: var(--white-text-color);
		background-color: var(--blue-color);
	}
}

.examples__block:not(:last-child) {
	margin-right: 8px;
}
