.header {
	background-color: var(--white-text-color);
	border-bottom: 1px solid var(--border-heder-line);
	position: relative;
}

.header__container,
.navigation {
	display: flex;
	align-items: center;
}

.navigation__logo {
	padding: 16px 0px;

	@include tablet {
		margin-right: 88px;
		padding: 0px;
	}
	@include desctop {
		margin-right: 93px;
	}
}

.navigation__logo-part1,
.navigation__logo-part2,
.navigation__logo-part3 {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
}

.navigation__logo-part1 {
	color: var(--blue-color);
}

.navigation__logo-part2 {
	color: var(--logo-part2-color);
}

.site-nav__link {
	display: none;

	@include tablet {
		display: block;
		position: relative;
		padding-top: 32px;
		padding-bottom: 32px;

		font-weight: 500;
		font-size: 14px;
		line-height: 1.14;
		letter-spacing: 0.02em;
		color: var(--title-text-color);
		transition: color 250ms var(--timing-function);

		&:hover,
		&:focus,
		&:active {
			color: var(--blue-color);
		}
	}
}

.site-nav {
	display: flex;

	& .current {
		color: var(--blue-color);

		&::after {
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			display: block;
			width: 100%;
			height: 4px;
			border-radius: 2px;
			background-color: var(--blue-color);
		}
	}
}

.site-nav__item:not(:last-child) {
	margin-right: 50px;
}

.site-adress {
	display: none;

	@include tablet {
		display: flex;
		flex-direction: column;
		margin-left: auto;
		justify-content: center;
		align-items: flex-start;
		gap: 10px;
		color: var(--primary-text-color);
	}

	@include desctop {
		flex-direction: row;
		align-items: center;
	}
}

.site-adress__item {
	display: flex;

	justify-content: center;
	align-items: center;

	@include desctop {
		padding-top: 32px;
		padding-bottom: 32px;
		.mail {
			padding-top: 32px;
			padding-bottom: 32px;
		}

		&:not(:last-child) {
			margin-right: 50px;
		}

		&:focus,
		&:hover,
		&:active {
			color: var(--blue-color);
			cursor: pointer;
		}
	}
}

.site-adress__icon {
	display: flex;
	margin-right: 10px;
	justify-content: center;
	align-items: center;
	fill: currentColor;
	transition: color 250ms var(--timing-function);
}

.site-adress__link {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-text-color);
	transition: color 250ms var(--timing-function);
	@include desctop {
		.site-adress__item:focus &,
		.site-adress__item:hover &,
		.site-adress__item:active & {
			color: var(--blue-color);
			cursor: pointer;
		}
	}
}

.mobile-menu__button-open {
	position: absolute;
	background-color: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	border: none;

	@include tablet {
		display: none;
	}
}
